html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Optional: prevents double scrollbars */
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#calendar {
  width: 100%;
  height: 100%;
  flex: 1;
}

/** Mimi är bäst */

.read-the-docs {
  color: #888;
}